<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581781960241-p3nk2s9tl0m3qlevjuvc1uakjcanpbkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581781960241-p3nk2s9tl0m3qlevjuvc1uakjcanpbkq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581781960241-ipcbiuigij4skd7tvi2rin8kcq2jf340.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCE1SWs4wpQCd3x9XA3VHYTfSt90SFnvM</string>
	<key>GCM_SENDER_ID</key>
	<string>581781960241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.geofencingBasedAttendanceSystem.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>attendance-portal-845c3</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-portal-845c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581781960241:ios:0a14accc02a5ccbb970710</string>
</dict>
</plist>